@using Microsoft.Extensions.Localization
@using LDE.Web.ViewModels


@inject IStringLocalizer<SharedResources> Localizer
@model MainPageViewModel
<div class="container">
    @Html.Partial("_Apostillization."+ Model.Culture.TwoLetterISOLanguageName)
    
    @Html.Partial("_ExtractsCommercial." + Model.Culture.TwoLetterISOLanguageName)

    @Html.Partial("_ExtractsProperty." + Model.Culture.TwoLetterISOLanguageName)

    @Html.Partial("_ExtractsOther." + Model.Culture.TwoLetterISOLanguageName)

    @Html.Partial("_ProfessionalTranslations." + Model.Culture.TwoLetterISOLanguageName)

</div>
